@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --cor0:white;
    --cor1:#02bc2a;
    --cor2:#dc3d3d;
    --cor3:#a82f2f;
    --cor4:#5c1a1a;
    --cor5:#3d0606;
    --cor6:#f7d04e;
    --cor7:#f5f3e0;
    --cor8:#f6f6f4dd;
    --cor9:#000000;
    --cor10:rgba(2, 115, 38, 0.996);

    --font-padrao:arial,verdana,helvetica,sans-serif;
    --font-destaque:"Bebas Neue", sans-serif;
}   

* {
    margin: 0;
    padding: 0;
}

body{
    background-image:url(../imagens/fundo-site-lanches-bar.700px.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: var(--font-padrao);
    color: var(--cor5);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    min-height: 150px;
}    

header  > h1{
    color: var(--cor0);
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 2em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.463);
    padding-bottom: 30px;
}


header > a{
    display:block;
    color: var(--cor0);
    font-family: var(--font-padrao);
    font-size: 1.3em;
    text-align: left;
    text-decoration: none;
    
}

header > a:active{
    font-size:1.4em ;
    font-weight: bold;
    
}

header > a > img{
    width: 20px;
    height: 20px;

}

header > p{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    color:var(--cor6);
    font-family: var(--font-padrao) ;
    font-size: 1.5em;

}

main{
    background-image: url(/imagens/fundo-nosso-cardapio700px.webp);
    background-position: bottom;
    margin: 0px 10px 20px 10px;
}
main > .chamada{
    font-family: var(--font-destaque);
    padding-top: 20px;
    text-align: center;
    font-size: 2em;
    color: var(--cor8);
    font-weight: lighter;
}

.nosso-cardapio{
    background-size: cover;
    background-position:right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0px 0px 20px;

}


.nosso-cardapio > h2 {
    font-family: var(--font-destaque);
    font-size: 50px;
    color: var(--cor8);
    font-weight: lighter;

}

@media(max-width:700px){
    .nosso-cardapio > h2{
        font-size: 30px;
    }
    .nosso-cardapio > img{
        width:150px;
    }
}


.menu{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.menu > a{
    color: var(--cor8);
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    font-family: var(--font-padrao);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    border-radius: 5px;
}

@media (max-width:900px){
    .menu{
        text-align: left;
       
    }
    .menu a{
        display:block;
        font-size: 20px;
    }

}

.menu > a:hover{
    background-color: var(--cor8);
    height: auto;
    border-radius: 5px;
    color: var(--cor5);
}

.categorias{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    font-family: var(--font-destaque);
    font-size: 40px;
    color:var(--cor0);
    font-weight: normal;
    margin-bottom: 30px;
    border-radius: 5px;
}

@media (max-width: 700px){
    .categorias h2{
        font-size: 35px;
        font-weight: lighter;
    }
    .categorias > h2 >img{
        width: 30px;
    }
}


.icones-categorias > h3{
    font-family: var(--font-destaque);
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    color: var(--cor8);
    font-weight: lighter;
}

.icones-categorias > h3 > img{
    background-color: var(--cor0);
    width:150px;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
}

@media (max-width: 700px){
    .icones-categorias > h3{
        font-size: 25px;
    }

    .icones-categorias > h3 > img{
        width: 50px;
    }
    
}

.produtos{
    font-family: var(--font-padrao);
    
}

.produtos > article{
    padding: 20px 0px 20px 0px;
}

.produtos > article > h4{
    color: var(--cor8);
    font-family: var(--font-padrao);
    font-size: 30px;
    padding: 10px;

}

@media (max-width: 700px){
    .produtos > article > h4{
        font-size: 20px;
    }
}

.produtos > article > strong{
    color: var(--cor8);
    border-radius: 5px;
    font-family: var(--font-padrao);
    font-size: 25px;
    padding: 40px 10px 0px 10px;

}

@media (max-width: 700px){
    .produtos > article > strong{
        font-size: 20px;
    }
}

.produtos > article > button{
    background-color: var(--cor2);
    color: var(--cor0);
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-padrao);

}

@media (max-width: 700px){
    .produtos > article > button{
        font-size: 16.5px;
    }
}

.acompanhamentos{
    text-align: center;
    padding: 40px;
    background-color: var(--cor8);
    margin: 20px;
    border-radius: 10px;
}
.acompanhamentos > label{
    font-family: var(--font-padrao);
    font-size: 30px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    color: var(--cor5);
}

.acompanhamentos > label > input{
   width: 25px;
   height: 25px;
}

@media (max-width: 700px){
    .acompanhamentos > label{
        font-size: 20px;
    }

    .acompanhamentos > label > input{
        width: 20px;
        height: 20px;
    }
}

#area-carrinho{
    background-color: var(--cor8);
    text-align: center;
    padding-bottom: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid 0.5px  var(--cor5);
    box-shadow: 0px 0px 5px var(--cor4);
}

#area-carrinho > section > h3{
    color: var(--cor5);
}

.finalize-seu-pedido{
    margin: 20px 20px;
    padding:20px;
    background-color: var(--cor5);
    border-radius: 10px;
    color: var(--cor8);
}

.finalize-seu-pedido > h3{
    text-align: center;
    font-family: var(--font-padrao);
    font-size: 30px;
}

@media (max-width: 700px){
    .finalize-seu-pedido > h3{
        font-size: 20px;
    }
}

.finalize-seu-pedido > p{
    font-family: var(--font-padrao);
    text-align: center;
    padding: 20px;
    
}

.finalize-seu-pedido > div{
    padding-bottom: 10px;
    padding-top: 10px;
}

.finalize-seu-pedido > div > label{
    font-family: var(--font-padrao);
    font-size: 25px;
}

@media (max-width: 700px){
    .finalize-seu-pedido > div > label{
        font-size: 18px;
    }
}

.finalize-seu-pedido > div > input{
    font-size: 25px;
    font-family: var(--font-padrao);
    background-color: var(--cor5);
    color: var(--cor0);
    border: solid 1px var(--cor8);
    border-radius: 3px;
}

@media (max-width: 700px){
    .finalize-seu-pedido > div > input{
        font-size: 18px;
    }
}

#observacoes{
    background-color: var(--cor5);
    text-align: center;
    margin: 20px 20px;
}

#observacoes > h3{
    font-size: 30px;
    color: var(--cor8);
}

@media (max-width: 700px){
    #observacoes > h3{
        font-size: 20px;
    }
}

#observacoes > textarea{
   background-color: var(--cor5);
   color: var(--cor8);
   font-size: 25px;
   box-sizing: border-box;
   width: 100%;
   min-height: 150px;
   padding: 15px;
   border-radius: 10px;
}

@media (max-width: 700px){
    #observacoes > textarea{
        font-size: 18px;
    }
}

#titulo-pagamentos{
    color: var(--cor8);
    text-align: center;
    font-size: 30px;
}

@media (max-width: 700px){
    #titulo-pagamentos{
        font-size: 20px;
    }
}

.pagamentos{
    background-color: var(--cor6);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.pagamentos > div {
    margin: 10px 10px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 25px;
}

@media (max-width: 700px){
    .pagamentos > div{
        font-size: 18px;
    }
}

.pagamentos > div > input{
    width: 25px;
    height: 25px;
}

@media (max-width: 700px){
    .pagamentos > div > input{
        width: 18px;
        height: 18px;
    }
}

.pagamentos > div > div > input{
    background-color: var(--cor0);
    color: var(--cor5);
    font-size: 25px;
    border-radius: 5px;
    border: 0px;
}

@media (max-width: 700px){
    .pagamentos > div > div > input{
        font-size: 18px;
    }
}

.pagamentos > div > div > button{
    background-color: var(--cor1);
    color: var(--cor0);
    font-family: var(--font-padrao);
    font-size: 25px;
    margin: 10px 0px 10px 0px;

}

@media (max-width: 700px){
    .pagamentos > div > div button{
        font-size: 18px;
    }
}

#enviar-pedido{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

#enviar-pedido > button{
    background-color: var(--cor2);
    color: var(--cor0);
    font-size: 30px;
    font-family: var(--font-destaque);
    border-radius: 10px;
    box-shadow: 0px 0px 2px var(--cor5);

}

@media (max-width: 700px){
    #enviar-pedido > button{
        font-size: 25px;
    }
}



