@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root{
    --cor0:white;
    --cor1:#02bc2a;
    --cor2:#dc3d3d;
    --cor3:#a82f2f;
    --cor4:#5c1a1a;
    --cor5:#3d0606;
    --cor6:#f7d04e;
    --cor7:#f5f3e0;

    --font-padrao:arial,verdana,helvetica,sans-serif;
    --font-destaque:"Bebas Neue", sans-serif;
}   

* {
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--cor4);
    font-family: var(--font-padrao);
    color: var(--cor5);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    min-height: 150px;
}    

header  > h1{
    color: var(--cor0);
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 2em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.463);
    padding-bottom: 30px;
}

header > picture{

}

header > a{
    display:block;
    color: var(--cor0);
    font-family: var(--font-padrao);
    font-size: 1.3em;
    text-align: left;
    text-decoration: none;
    
}

header > a:active{
    font-size:1.4em ;
    font-weight: bold;
    color: var(--cor0);
    
}

header > a > img{
    width: 20px;
    height: 20px;

}

header > p{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    color:rgb(247, 208, 78);
    font-family: var(--font-padrao) ;
    font-size: 1.5em;

}

main{
    background-color: var(--cor7);
    max-width: 100%;
    height: auto;
}
main > .chamada{
    font-family: var(--font-destaque);
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

.nosso-cardapio{
    display: flex;
    align-items: center;
    justify-content: center;
}


.nosso-cardapio > h2 {
    font-family: var(--font-destaque);
    font-size: 50px;
    padding-bottom: 20px;
}

@media(max-width:700px){
    .nosso-cardapio > h2{
        font-size: 30px;
    }
    .nosso-cardapio > img{
        width:150px;
    }
}


.menu{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.menu > a{
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    font-family: var(--font-padrao);
    color: var(--cor5);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

@media (max-width:700px){
    .menu{
        text-align: left;
       
    }
    .menu a{
        display:block;
        font-size: 20px;
    }

}

.menu > a:active{
    background-color: #dc3d3d;
    width: 40%;
    height: auto;
    border-radius: 5px;
    color: var(--cor7);
}

.categorias{
    

}

.icones-categorias > h3{
    font-family: var(--font-destaque);
    font-size: 40px;
}

.icones-categorias > h3 > img{
    width:150px;
    height: auto;
}

@media (max-width: 700px){
    .icones-categorias > h3{
        font-size: 25px;
    }

    .icones-categorias > h3 > img{
        width: 50px;
    }
    
}
